= simple_form_for @expense_report do |f|
  .col-sm-3
    = f.input :start_time
  .col-sm-3
    = f.input :end_time
  .col-sm-3
    = f.input :country, :priority => [ "Sweden" ], :input_html => { class: 'form-control' }
  .col-sm-3
    = f.input :currency
