%li.dropdown.green
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    = fa_icon "user 3x"
    %p Users
  %ul.dropdown-menu
    %li
      = link_to  new_invitation_path do
        %i.fa.fa-envelope.fa-2x
        %p Invite a new user
    %li
      = link_to users_path do
        %i.fa.fa-users.fa-2x
        %p All Users

%li.dropdown.orenge
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    = fa_icon "calendar 3x"
    %p Reports
  %ul.dropdown-menu
    %li
      = link_to new_report_path do
        %i.fa.fa-plus.fa-2x
        %p New Report
    %li
      = link_to reports_path do
        %i.fa.fa-files-o.fa-2x
        %p All Reports
    - if Report.current_report
      %li
        = link_to Report.current_report do
          %i.fa.fa-file-text-o.fa-2x
          %p Current Report
