.col-sm-offset-3.col-sm-6
  %h1 Invite a new Employee
.well.col-sm-offset-3.col-sm-6
  = simple_form_for @invitation do |f|
    = f.input :sender, as: :hidden
    = f.label :recipient, "Email"
    = f.input :recipient, label_html: { class: 'sr-only' }
    = f.label :employee_number
    = f.input :employee_number, label_html: { class: 'sr-only' }
    = f.label :tenbis_number
    %i.fa.fa-question{"data-container" => "body", "data-content" => "Last 4 digits of the employee's 10Bis number (remove left zeros if exists)", "data-placement" => "right", "data-toggle" => "popover"}
    = f.input :tenbis_number, label_html: { class: 'sr-only' }
    = f.submit "Send invitation", class: "btn btn-primary"
