%tr
  %td= "#{summary.user_name} (#{summary.employee_number})"
  %td= summary.vacation_days
  %td= summary.sickness_days
  %td= summary.army_reserve_days
  %td= summary.tenbis
  %td
  %td
  %td
  %td= summary.comments
