%tr
  %td= link_to summary.user_name, edit_user_timesheet_path(summary.user_id, summary.id)
  %td= summary.total_hours
  %td= summary.vacation_days
  %td= summary.sickness_days
  %td= summary.army_reserve_days
  %td= summary.tenbis
  %td= summary.status
  %td= summary.comments
