%tr
  %td= "#{summary.employee_number} - #{summary.user_name}"
  %td= summary.vacation_days
  %td= summary.sickness_days
  %td= summary.army_reserve_days
  %td= summary.tenbis
  %td
  %td
  %td
  %td
