= simple_form_for [@user, @timesheet] do |f|
  .action-header
    = f.submit "Update Changes", class: "btn btn-primary" unless @timesheet.reload.submitted?
    = f.submit "Reopen Timesheet", class: "btn btn-success" if @timesheet.reload.submitted?
    = button_tag("Prefill working days", :type => 'button', :class => "btn btn-info", :id => "prefill-working-days") unless @timesheet.submitted?
    = f.error :base
    = f.submit "Extract calendar events", class: "btn btn-warning", :id => "extract-calendar-events" unless @timesheet.reload.submitted?
    = f.submit "Submit Timesheet", class: "btn btn-success pull-right" unless @timesheet.reload.submitted?
  - show_on_call_column = @timesheet.on_call_days.present?
  = f.fields_for :days, @timesheet.days.sort do |days_form|
    - day_type = days_form.object.day_type
    .row
      %fieldset{ :disabled => (@timesheet.submitted? ? true : nil) }
        .col-md-2.input-height
          %span= days_form.object.date.strftime('%B %d, %Y')
        .col-md-1.input-height
          %span= days_form.object.weekday
        .col-md-2
          = days_form.select(:day_type, Day::DAY_TYPES.map { |dt| [add_units(dt.humanize), dt] }, { :disabled => "holiday" }, :class => "day-type form-control #{day_type}")
        .col-md-1
          = days_form.text_field :value,
            :value => number_with_precision(days_form.object.value, precision: 2, significant: true, strip_insignificant_zeros: true),
            class: "day-value form-control #{day_type}", disabled: (day_type == 'weekend') ? true : nil
        - if show_on_call_column
          .col-md-1.on_call_column
            - if days_form.object.on_call
              .on_call
                %span.glyphicon.glyphicon-earphone
                %span="On Call"
          .col-md-5
            = days_form.text_field :comment, class: "form-control #{day_type}"
        - else
          .col-md-6
            = days_form.text_field :comment, class: "form-control #{day_type}"

  .row
    .col-md-12
      = f.label :comments
      = f.text_area :comments, class: "form-control", :disabled => (@timesheet.submitted? ? true : nil)
      .hidden= f.input :calendar_events, :as => :boolean

  - if current_user.admin?
    .row
      .col-md-12
        = f.input :tenbis_usage, :label => "10Bis usage for #{@timesheet.report.tenbis_date.strftime('%B %Y')}"
  - else
    .row
      .col-md-12
        = f.input :tenbis_usage, :disabled => true, :label => "10Bis usage for #{@timesheet.report.tenbis_date.strftime('%B %Y')}"
