.pull-right
  = page_entries_info expense_reports, :model => 'expense_report'
  = render_filterrific_spinner

.row
  %table.table.hoverable-row
    %thead
      %tr
        %th Name
        %th Period
        %th Country
        %th Total
        %th Status
        %th
    %tbody
      - expense_reports.each do |expense_report|
        %tr
          %td.hidden= link_to "", edit_user_expense_report_path(expense_report.user, expense_report)
          %td= expense_report.user.name
          %td= "#{expense_report.start_time.strftime('%B %d, %Y')} - #{expense_report.end_time.strftime('%B %d, %Y')}"
          %td= expense_report.country
          %td= expense_report.total
          %td= expense_report.status.humanize
          %td= link_to image_tag('pdf_icon.ico', size: "25x25"), api_v1_expense_report_path(expense_report, format: :pdf), target: "_blank" unless expense_report.waiting_for_approval?

= will_paginate expense_reports, renderer: BootstrapPagination::Rails
