%h1 New Report
.well.col-sm-offset-3.col-sm-6
  = simple_form_for @report, :html => { :class => "form-horizontal" } do |f|
    .form-group
      = f.label :start_date, { class: "col-sm-3" }
      .col-sm-9
        = f.text_field :start_date, { class: 'datepicker form-control', :value => f.object.start_date.andand.strftime('%B %d, %Y') }
        = f.error :start_date
    .form-group
      = f.label :end_date, { class: "col-sm-3" }
      .col-sm-9
        = f.text_field :end_date, { class: 'datepicker form-control', :value => f.object.end_date.andand.strftime('%B %d, %Y') }
        = f.error :end_date
    .form-group
      = f.label :tenbis_date, "10bis month", { class: "col-sm-3 control-label" }
      .col-sm-9
        = f.text_field :tenbis_date, { class: 'month-datepicker form-control', :value => f.object.tenbis_date.andand.strftime('%B %Y') }
        = f.error :tenbis_date
    .form-group
      = f.label :current, { class: "col-sm-3" }
      .col-sm-9
        = f.input_field :current
        = f.error :current
    .form-group
      .col-sm-offset-3.col-sm-9
        = f.error :overlapping
        = f.submit "Create Report", class: "btn btn-primary"

