.action-header
  - unless @report.reload.submitted?
    = simple_form_for [@report, Reminder.new] do |f|
      = f.submit "Send Reminders", :class => "btn btn-default"

  = link_to image_tag('excel_icon.ico', :size => '25x25'), report_path(@report, format: "xls"), :class => "btn btn-default pull-right", :title => "Export to Excel"

  = simple_form_for @report, :html => { :class => "form-horizontal" } do |f|
    - change_status_to = @report.reload.submitted? ? "reopened" : "submitted"
    = f.hidden_field :status, :value => change_status_to
    - unless @report.reload.submitted?
      = f.submit "Submit Report", :class => "btn btn-success"
      = f.hidden_field :current, :value => false

    = f.submit "Reopen Report", :class => "btn btn-success" if @report.reload.submitted?
    = f.error :base

.panel.panel-default
  .panel-heading
    %h4= "#{@report.start_date.strftime('%B %d, %Y')} - #{@report.end_date.strftime('%B %d, %Y')}"
  %table.table
    %thead
      %tr
        %th Name
        %th Total hours
        %th Vacation Days
        %th Sickness Days
        %th Army Reserve Days
        %th 10Bis
        %th Status
        %th No. of comments
    %tbody
      = render :partial => "timesheets/summary", :collection =>  @report.timesheet_summaries, :as => :summary
