!!!
%html
  %head
    %title HoursReport
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body{ :class => "#{controller_name} #{action_name}", "ng-app" => "ExpenseReportApp" }
    = render_google_tag_manager
    = initjs_tag app_name: 'HoursReport'
    = yield :role_sidebar
    = yield :role_main
    #wrap
      = render "shared/navbar"
      .container
        = render "shared/flash_messages", flash: flash
        = yield
    #footer
      = render 'shared/footer'
